{% load staticfiles %}

<!DOCTYPE html>
<html>

<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/cardio.css' %}">

	<link rel="stylesheet" type="text/css" href="{% static 'css/cj.css' %}">	
	<link rel="stylesheet" type="text/css" href="{% static 'css/style1.css' %}">
	
	<link rel="stylesheet" type="text/css" href="{% static 'fonts/font-awesome-4.1.0/css/font-awesome.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/et-icons.css' %}">
	<link href="{% static 'css/interest.css' %}" rel="stylesheet">

	<script src="{% static 'jquery-1.11.1.min.js' %}"></script>
	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
	<script src="{% static 'typed1.js' %}"></script>
	<script src="{% static 'login.js' %}"></script>
	<script src="{% static 'registration.js' %}"></script>
	<script src="{% static 'main.js' %}"></script>
	<script src="{% static 'interest.js' %}"></script>
	<script src="{% static 'interestFunctions.js' %}"</script>
	<script src="{% static 'stats.js' %}"></script>
	<script src="{% static 'jquery.onepagenav.js' %}"></script>
	<script src="{% static 'modernizr.custom.js' %}"></script>
	<script src="{% static 'fb.js' %}"></script>
 
</head>
<body>
	<nav class="navbar navbar-original" id="navbar1">
		<div class="container">
			<div class="collapse navbar-collapse" id="navbar-buttons">
				<ul class="navbar-nav navbar-right">
					<li id="menu"><a href="#login" id="trigger-overlay" class="btn btn-login">Log In</a></li>
					<li id="menu"><a href="#signup" id="trigger-overlay1" class="btn btn-signup">Sign Up</a></li>
					<li id="menu"><a href="#login" id="trigger-overlay" class="btn btn-about">About</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<header id="intro">
		<div class="container">
			<div class="table">
				<div class="header-text">
					<div class="row">
						<div class="col-md-12 text-center">
							<h3 id="light-white" class="light white">Citizen Journalism</h3>
							<h1 id="white-typed" class="white typed">Reducing gap between reality and mist</h1>
							<span class="typed-cursor">|</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>
	<section>
		<div class="navbar" id="navbar-pos-1">
			<nav id="navbar-items">
				<div class="container">
					<div class="navbar-collapse1" id="navbar-buttons">
						<ul class="navbar-nav1">
							<li><a href="#login" class="btn btn-red">Hot News</a></li>
							<li><a href="#Pnews" class="btn btn-green">Personalize News</a></li>
							<li><a href="#Allnews" class="btn btn-lightorange">All News</a></li>
							<li><a href="#SQuery" class="btn btn-purple">Search Query</a></li>
						</ul>
					</div>
				</div>
			</nav>
		</div>
		<div class="container"  style="padding-top: 50px;">
			<div class="col-xs-6" id="chartContainer" >
			</div>
			<div class="col-xs-6">
				<h5 id="simple" ">The concept of citizen journalism (also known as "public", "participatory", "democratic",[1] "guerrilla"[2] or "street" journalism[3]) is based upon public citizens "playing an active role in the process of collecting, reporting, analyzing, and disseminating news and information."[4] Similarly, Courtney C. Radsch defines citizen journalism "as an alternative and activist form of newsgathering and reporting that functions outside mainstream media institutions, often as a response to shortcomings in the professional journalistic field, that uses similar journalistic practices but is driven by different objectives and ideals and relies on alternative sources of legitimacy than traditional or mainstream journalism".[5] Jay Rosen proposes a simpler definition: "When the people formerly known as the audience employ the press tools they have in their possession to inform one another."[6]
				</h5>
				<div class="btn btn-seemore">
					See more →
				</div>
			</div>
		</div>
	</section>
	<footer>
		<div class="container">
			<div class="row">
			  <div class="col-xs-6 col-sm-3" id="footer-column-1">
			  	<a href="#audience"><h4 id="footer1"> Who are we for? </h4></a>
			  	<a href="#audience"><h6 id="footer2"> For Funders </h6></a>
				<a href="#audience"><h6 id="footer3"> For Insitutions </h6></a>
				<a href="#audience"><h6 id="footer4"> For Publishers </h6></a>
				<a href="#audience"><h6 id="footer5"> For Researchers </h6></a>
			  </div>
			  <div class="col-xs-6 col-sm-3" id="footer-column-2">
			  	<a href="#audience"><h4 id="footer1"> Products </h4></a>
				<a href="#audience"><h6 id="footer2"> For Funders </h6></a>
				<a href="#audience"><h6 id="footer3"> For Insitutions </h6></a>
				<a href="#audience"><h6 id="footer4"> For Publishers </h6></a>
				<a href="#audience"><h6 id="footer5"> For Researchers </h6></a>
			  </div>
			  <div class="col-xs-6 col-sm-3" id="footer-column-3">
			  	<a href="#audience"><h4 id="footer1"> About Citizen Journalism </h4></a>
				<a href="#audience"><h6 id="footer2"> For Funders </h6></a>
				<a href="#audience"><h6 id="footer3"> For Insitutions </h6></a>
				<a href="#audience"><h6 id="footer4"> For Publishers </h6></a>
				<a href="#audience"><h6 id="footer5"> For Researchers </h6></a>
			  </div>
			  <div class="col-xs-6 col-sm-3" id="footer-column-4">
			  	<a href="#audience"><h4 id="footer1"> Support </h4></a>
				<a href="#audience"><h6 id="footer2"> For Funders </h6></a>
				<a href="#audience"><h6 id="footer3"> For Insitutions </h6></a>
				<a href="#audience"><h6 id="footer4"> For Publishers </h6></a>
				<a href="#audience"><h6 id="footer5"> For Researchers </h6></a>
			  </div> 
			</div>
		</div> 
		 <!-- <div class="container" > -->
			<div class="row" style="background: #272828; margin-bottom:-50px; height:100px;">
				<div class="col-xs-6 col-sm-3" id="reserved" style="padding-top: 30px;">
					<h4 id="footer7"> All Rights Reserved </h4>
				</div>
				<div class="col-md-6" id="column6" style="padding-top: 30px;">
					<ul class="social-footer" id="logos1">
						<li class="fb"><a href="#fblogo"><i class="fa fa-facebook"></i></a></li>
						<li class="twitter"><a href="#twitterlogo"><i class="fa fa-twitter"></i></a></li>
						<li class="googlePlus"><a href="#googleplus"><i class="fa fa-google-plus"></i></a></li>
					</ul>
				</div>
			</div>
		<!-- </div> -->
	</footer>
	<div class="overlay overlay-hugeinc" id="overlayDiv">
			<div class="interestdiv hidden" style="z-index: 200;">
				<div class="modal-dialog modal-lg" id="mainDiv" style="top: 0px;"> 
		            <div class="modal-content"  style="width: 880px; height: 500px; top: 10px !important;"> 
		                <div class="modal-header"> 
		                    <h4 class="modal-title" id="myModalLabel">What are your interests ?</h4> 
		                </div> 
		                <div class="row" id="mainDivModalInterest" style="max-height: 350px; width: 893px;"> 
		                    <div class="modal-body"> 
		                        <div class="row"> 
		                            <div class="col-md-8" id="sports-div1"  style="width: auto; height: 125px; left : 50px; top: 5px;"> 
		                                     <div id="sports-image1" class="col-md-8 interest hover08"> 
		                                         <div id="label1"> 
		                                            <h6>Cricket </h6> 
		                                        </div> 
		                                        <img id="image1-circle1" src="{% static 'img/circle.png' %}" > 
		                                        <img id="image1-circle2" src="{% static 'img/circle2.png' %}" > 
		                                         <figure> 
		                                            <img id="image1" src="{% static 'img/cricket.jpg' %}" > 
		                                        </figure>     
		                                     </div> 
		                                     <div id="sports-image2" class="col-md-8 interest hover08"> 
		                                        <div id="label2" > 
		                                            <h6>Badminton </h6> 
		                                        </div> 
		                                        <img id="image2-circle1" src="{% static 'img/circle.png' %}" > 
		                                        <img id="image2-circle2" src="{% static 'img/circle2.png' %}" > 
		                                        <figure> 
		                                            <img id="image2" src="{% static 'img/badminton.jpg' %}"> 
		                                        </figure> 
		                                     </div> 
		                                     <div id="sports-image3" class="col-md-8 interest hover08"> 
		                                        <div id="label3" > 
		                                            <h6>Football </h6> 
		                                        </div> 
		                                        <img id="image3-circle1" src="{% static 'img/circle.png' %}" > 
		                                        <img id="image3-circle2" src="{% static 'img/circle2.png' %}" > 
		                                        <figure> 
		                                            <img id="image3" src="{% static 'img/football.jpg' %}"> 
		                                        </figure> 
		                                     </div> 

		                                     <div id="sports-image4" class="col-md-8 interest hover08"> 
		                                         <div id="label4" > 
		                                            <h6>Tennis </h6> 
		                                        </div> 
		                                        <img id="image4-circle1" src="{% static 'img/circle.png' %}" > 
		                                        <img id="image4-circle2" src="{% static 'img/circle2.png' %}" > 
		                                        <figure> 
		                                            <img id="image4" src="{% static 'img/tennis.jpg' %}"> 
		                                        </figure> 
		                                     </div> 

		                                     <div id="sports-image5" class="col-md-8 interest hover08"> 
		                                         <div id="label5" > 
		                                            <h6>Weather </h6> 
		                                        </div> 
		                                        <img id="image5-circle1" src="{% static 'img/circle.png' %}" > 
		                                        <img id="image5-circle2" src="{% static 'img/circle2.png' %}" > 
		                                        <figure> 
		                                            <img id="image5" src="{% static 'img/weather.jpg' %}"> 
		                                        </figure> 
		                                     </div> 
		                                 </div> 
		                            </div> 
		                            <div class="row" style="padding-top: 4%;"> 
		                                <div class="col-md-8" id="sports-div2"  style="width: auto; height: 125px; left : 50px; top: 5px;"> 
		                                    <div id="sports-image6" class="col-md-8 interest hover08"> 
		                                             <div id="label6" > 
		                                                <h6>Buisness </h6> 
		                                            </div> 
		                                            <img id="image6-circle1" src="{% static 'img/circle.png' %}" > 
		                                            <img id="image6-circle2" src="{% static 'img/circle2.png' %}" > 
		                                            <figure> 
		                                                <img id="image6" src="{% static 'img/business.jpg' %}"> 
		                                            </figure> 
		                                    </div> 

		                                    <div id="sports-image7" class="col-md-8 interest hover08"> 
		                                         <div id="label7" > 
		                                            <h6>Electronics </h6> 
		                                        </div> 
		                                        <img id="image7-circle1" src="{% static 'img/circle.png' %}" > 
		                                        <img id="image7-circle2" src="{% static 'img/circle2.png' %}" > 
		                                        <figure> 
		                                            <img id="image7" src="{% static 'img/electronics.jpg' %}" > 
		                                        </figure> 
		                                     </div> 

		                                     <div id="sports-image8" class="col-md-8 interest hover08"> 
		                                         <div id="label8" > 
		                                            <h6>History </h6> 
		                                        </div> 
		                                        <img id="image8-circle1" src="{% static 'img/circle.png' %}" > 
		                                        <img id="image8-circle2" src="{% static 'img/circle2.png' %}" > 
		                                        <figure> 
		                                            <img id="image8" src="{% static 'img/history.jpg' %}" > 
		                                        </figure> 
		                                     </div> 

		                                     <div id="sports-image9" class="col-md-8 interest hover08"> 
		                                         <div id="label9" > 
		                                            <h6>Fashion </h6> 
		                                        </div> 
		                                        <img id="image9-circle1" src="{% static 'img/circle.png' %}" > 
		                                        <img id="image9-circle2" src="{% static 'img/circle2.png' %}" > 
		                                        <figure> 
		                                            <img id="image9" src="{% static 'img/fashion.jpg' %}" > 
		                                        </figure> 
		                                     </div> 

		                                     <div id="sports-image10" class="col-md-8 interest hover08"> 
		                                         <div id="label7" > 
		                                            <h6>Finance </h6> 
		                                        </div> 
		                                        <img id="image10-circle1" src="{% static 'img/circle.png' %}" > 
		                                        <img id="image10-circle2" src="{% static 'img/circle2.png' %}" > 
		                                        <figure> 
		                                            <img id="image10" src="{% static 'img/finance.jpg' %}" > 
		                                        </figure> 
		                                     </div> 
		                                </div> 
		                            </div> 
		                            <div class="row"  style="padding-top: 4%;"> 
		                                <div class="col-md-8" id="sports-div1"  style="width: auto; height: 125px; left : 50px; top: 5px;"> 
		                                    <div id="sports-image11" class="col-md-8 interest hover08"> 
		                                         <div id="label11" > 
		                                            <h6>Daramas </h6> 
		                                        </div> 
		                                        <img id="image11-circle1" src="{% static 'img/circle.png' %}"> 
		                                        <img id="image11-circle2" src="{% static 'img/circle2.png' %}"> 
		                                        <figure> 
		                                            <img id="image11" src="{% static 'img/daramas.jpg' %}"> 
		                                        </figure> 
		                                    </div> 
		                                    <div id="sports-image12" class="col-md-8 interest hover08"> 
		                                         <div id="label12" > 
		                                            <h6>Politics </h6> 
		                                        </div> 
		                                        <img id="image12-circle1" src="{% static 'img/circle.png' %}"> 
		                                        <img id="image12-circle2" src="{% static 'img/circle2.png' %}"> 
		                                        <figure> 
		                                            <img id="image12" src="{% static 'img/politics.jpg' %}"> 
		                                        </figure> 
		                                    </div> 
		                                    <div id="sports-image13" class="col-md-8 interest hover08"> 
		                                         <div id="label13" > 
		                                            <h6>Education </h6> 
		                                        </div> 
		                                        <img id="image13-circle1" src="{% static 'img/circle.png' %}"> 
		                                        <img id="image13-circle2" src="{% static 'img/circle2.png' %}"> 
		                                        <figure> 
		                                            <img id="image13" src="{% static 'img/education.jpg' %}"> 
		                                        </figure> 
		                                    </div> 
		                                    <div id="sports-image14" class="col-md-8 interest hover08"> 
		                                         <div id="label14" > 
		                                            <h6>Health </h6> 
		                                        </div> 
		                                        <img id="image14-circle1" src="{% static 'img/circle.png' %}"> 
		                                        <img id="image14-circle2" src="{% static 'img/circle2.png' %}"> 
		                                        <figure> 
		                                            <img id="image14" src="{% static 'img/health.jpg' %}"> 
		                                        </figure> 
		                                    </div> 
		                                    <div id="sports-image15" class="col-md-8 interest hover08"> 
		                                         <div id="label15" > 
		                                            <h6>Movies </h6> 
		                                        </div> 
		                                        <img id="image15-circle1" src="{% static 'img/circle.png' %}"> 
		                                        <img id="image15-circle2" src="{% static 'img/circle2.png' %}"> 
		                                        <figure> 
		                                            <img id="image15" src="{% static 'img/movies.jpg' %}"> 
		                                        </figure> 
		                                    </div> 
		                                </div> 
		                            </div> 
		                    </div> 
		                </div> 
		                <div class="modal-footer" style="border-top: 0px solid !important; "> 
		                    <button class="btn btn-primary" id="continueButton" style=" margin-right: 1%;">Continue</button> 
		                </div> 
		            </div> 
		         </div>
			</div>
			<div class="logindiv hidden">
				<div class="modal-dialog modal-lg" id="mainLoginDiv"> 
		            <div class="modal-content"> 
		                <div class="modal-header"> 
		                    <h4 class="modal-title" id="myModalLabel">Log In</h4> 
		                </div> 
		                <div class="modal-body"> 
		                    <div class="row"> 
		                        <div class="col-md-8" style="border-right: 1px dotted #C2C2C2;padding-right: 30px;"> 
		            
		                            <!-- Tab panes --> 
		                            <div class="tab-content"> 
		                                <div class="tab-pane active" id="Login"> 
		                                    <form role="form" class="form-horizontal"> 
		                                    <div class="form-group"> 
		                                        <label for="email" class="col-sm-2 control-label">UserName</label> 
		                                        <div class="col-sm-10"> 
		                                            <input type="email" class="form-control" id="email1" placeholder="UserName"> 
		                                        </div> 
		                                    </div> 
		                                    <div class="form-group"> 
		                                        <label for="exampleInputPassword1" class="col-sm-2 control-label">Password</label> 
		                                        <div class="col-sm-10"> 
		                                            <input type="email" class="form-control" id="exampleInputPassword1" placeholder="Password"> 
		                                        </div> 
		                                    </div> 
		                                    <div class="row"> 
		                                        <div class="col-sm-2"> 
		                                        </div> 
		                                        <div class="col-sm-10"> 
		                                            <button type="submit" id="submitButton" class="btn btn-primary btn-sm">Submit</button> 
		                                            <a href="javascript:;">Forgot your password?</a> 
		                                        </div> 
		                                    </div> 
		                                    </form> 
		                                </div> 
		                            </div> 
		                            <div id="OR" class="hidden-xs">OR</div> 
		                        </div> 
		                        <div class="col-md-4"> 
		                            <div class="row text-center sign-with"> 
		                                <div class="col-md-12"> 
		                                    <h3>Sign in with</h3> 
		                                </div> 
		                                <div class="col-md-12"> 
		                                    <div class="btn-group btn-group-justified"> 
		                                        <a href="http://facebook#" class="btn btn-primary">Facebook</a> 
		                                        <a href="http://google#" class="btn btn-danger">Google</a> 
		                                    </div> 
		                                </div> 
		                            </div> 
		                        </div> 
		                    </div> 
		                </div> 
		            </div> 
		        </div>
			</div>
			<div class="signupdiv hidden">
				<div class="modal-dialog modal-lg"> 
		                <div class="modal-content"> 
		                    <div class="modal-header"> 
		                        <h4 class="modal-title" id="myModalLabel">Registration</h4> 
		                    </div> 
		                    <div class="modal-body"> 
		                        <div class="row"> 
		                            <div class="col-md-8" style="border-right: 1px dotted #C2C2C2;padding-right: 30px;"> 
		                                <div class="tab-pane" id="Registration"> 
		                                    <form role="form" class="form-horizontal"> 
		                                    <div class="form-group"> 
		                                        <label for="email" class="col-sm-2 control-label">Name</label> 
		                                        <div class="col-sm-10"> 
		                                            <div class="row"> 
		                                                <!-- <div class="col-md-3" > 
		                                                    <select id="genderSelection" class="form-control">
		                                                   
		                                                        <option>Mr.</option> 
		                                                        <option>Ms.</option> 
		                                                        <option>Mrs.</option> 
		                                                    </select> 
		                                                </div>  -->
		                                                <div class="col-md-9"> 
		                                                    <input id="signupName" type="text" class="form-control" placeholder="Name"> 
		                                                </div> 
		                                            </div> 
		                                        </div> 
		                                    </div> 
		                                    <div class="form-group"> 
		                                        <label for="email" class="col-sm-2 control-label">Email</label> 
		                                        <div class="col-sm-10"> 
		                                            <input id="signUpEmail" type="email" class="form-control" id="email" placeholder="Email"> 
		                                        </div> 
		                                    </div> 
		                                    <!-- <div class="form-group"> 
		                                        <label for="mobile" class="col-sm-2 control-label">Mobile</label> 
		                                        <div class="col-sm-10"> 
		                                            <input type="email" class="form-control" id="mobile" placeholder="Mobile"> 
		                                        </div> 
		                                    </div> --> 
		                                    <div class="form-group"> 
		                                        <label for="password" class="col-sm-2 control-label">Password</label> 
		                                        <div class="col-sm-10"> 
		                                            <input id="passwordSignUp" type="password" class="form-control" id="password" placeholder="Password"> 
		                                        </div> 
		                                    </div> 
		                                    <div class="row"> 
		                                        <div class="col-sm-2"> 
		                                        </div> 
		                                        <div class="col-sm-10"> 
		                                            <button id="submitSignUp" type="button" class="btn btn-primary btn-sm">Save &amp; Continue</button> 
		                                        </div> 
		                                    </div> 
		                                    </form> 
		                                </div> 
		                                <div id="OR" class="hidden-xs">OR</div> 
		                            </div> 
		                            <div class="col-md-4"> 
		                                <div class="row text-center sign-with"> 
		                                    <div class="col-md-12"> 
		                                        <h3>Sign in with</h3> 
		                                    </div> 
		                                    <div class="col-md-12"> 
		                                        <div class="btn-group btn-group-justified"> 
		                                            <a href="http://bootsnipp-env.elasticbeanstalk.com/iframe/W7Xmz#" class="btn btn-primary">Facebook</a>  
		                                            <a href="http://bootsnipp-env.elasticbeanstalk.com/iframe/W7Xmz#" class="btn btn-danger">Google</a> 
		                                        </div> 
		                                    </div> 
		                                </div> 
		                            </div> 
		                        </div> 
		                    </div> 
		                </div> 
		            </div> 
		        </div>
			<button id="manual_close_1" type="button" class="overlay-close">Close</button>
	</div>
	
	<script src="{% static 'classie.js' %}"></script>
	<script src="{% static 'demo1.js' %}"></script>
</body>
